<div class="row">
  <% form_for(@list) do |f| %>
    <div class="field">
      <%= f.label("Name") %><br>
      <div><%= f.text_field :name %>
        <div class="row">
          <%= f.submit class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
