<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checklist.name %>
</p>

<%= link_to 'Edit', "/checklists/#{@checklist.id}/edit" %> |
<%= link_to 'Back', "/checklists" %>
